/* base layout */

.inner-wrapper {
    width: 100%;
    max-width: 1320px;
    min-width: 320px;
    margin: 0 auto;
    padding: var(--outer-padding);
}

nav {
    width: 100%;
    position: fixed;
    transition: 1s;
}
nav .inner-wrapper {
    display: flex;
    justify-content: space-between;
}
nav.bg {
    background: burlywood;
}


header {
    /* placeholder image */
    background: url(https://img.freepik.com/premium-vector/people-doing-various-outdoor-activities-park_113065-12.jpg?w=2000) bottom no-repeat; 
    background-size: cover;
    column-gap: var(--gap);
}
header .inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--gap)*3);
    height: 100vh;
}
header hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
}


main section {
    padding: var(--inner-padding);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: var(--gap);
}
main section article {
    padding: var(--inner-padding);
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--gap);
}
main section article hgroup {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);
}
main section article hgroup p {
    font: 500 1.4rem 'barlow';
    text-transform: uppercase;
    letter-spacing: .15rem;
}
main section article hgroup h2 {
    font-size: 2.8rem;
}
main section article p {
    line-height: 1.6em;
}
main section article a.read-more {
    justify-self: flex-end;
    align-self: flex-end;
    font: 600 1.4rem 'barlow condensed';
    text-transform: uppercase;
    letter-spacing: .2rem;
}
main section article a.read-more:hover {
    font-weight: 800;
    letter-spacing: .18rem;
}


footer {
    background: #afc68f;
}
footer .inner-wrapper {
    display: flex;
    justify-content: space-between;
}