/* search form in header */

form#quick-search {
    min-width: calc(500px - (var(--inner-padding) * 2));
    max-width: 600px;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    align-items: flex-end;
    gap: var(--gap);
    border: 1px solid lightskyblue;
    background: rgb(173, 216, 230, .8);
    padding: var(--inner-padding);
    box-shadow: 0 10px 30px white;
    margin-bottom: calc(var(--inner-padding) * 3);
}
@media screen and (max-width: 500px) {
    form#quick-search {
        grid-template-columns: 1fr;
        align-items: flex-start;
    }
}
form#quick-search input {
    font: inherit;
}
form#quick-search input[type=text],
form#quick-search input[type=date] {
    min-width: 100%;
    border: 1px solid white;
    display: block;
    padding: .9rem;
    margin-top: 1rem;
}
form#quick-search input[type=date] {
    border: 0;
}
form#quick-search input[type=button] {
    padding: 1rem 2.4rem;
    background: black;
    color: white;
    justify-self: flex-start;
    border: 0;
}

/* search form in main */

form#search {
    background: wheat;
    padding: var(--inner-padding);
}
@media screen and (min-width: 920px) {
    form#search {
        grid-column: span 2;
        grid-row: span 1;
    }
}
form#search fieldset {
    border: none;
    display: grid;
    gap: var(--gap);
}
form#search legend {
    display: none;
}
form#search label {
    display: block;
}
form#search input {
    display: block;
    font: inherit;
    padding: .9rem;
    width: 100%;
    margin-top: 1rem;
    border: 0;
}
form#search input[type=checkbox],
form#search input[type=button] {
    display: inline-block;
    width: auto;
    margin-right: 1rem;
}
form#search input[type=button] {
    padding: .8rem 2.4rem;
    background: black;
    color: white;
    justify-self: flex-start;
}
